<h1 class="page-header pt-5">Detalhes da Tarefa: {{ task?.title }}</h1>

<form #taskForm="ngForm" *ngIf="task" class="mt-4">
  <div class="row">
    <div class="form-group col-md-6">
      <label for="title" class="col-form-label">Título</label>
      <input [(ngModel)]="task.title" class="form-control" type="text" name="title" id="title" required>
    </div>

    <div class="form-group col-md-3">
      <label for="deadline" class="col-form-label">Prazo de entrega</label>
      <input [(ngModel)]="task.deadline" class="form-control" type="text" name="deadline" id="deadline">
    </div>

    <div class="form-group col-md-3">
      <label for="done" class="col-form-label">Situação</label>
      <select [(ngModel)]="task.done" class="form-control" name="done" id="done">
        <option *ngFor="let option of taskDoneOptions" [value]="option.value">{{option.text}}</option>
      </select>
    </div>  
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <label for="description" class="col-form-label">Descrição detalhada</label>
      <textarea [(ngModel)]="task.description" name="description" id="description" rows="4" class="form-control"></textarea>
    </div>
  </div>

  <button class="btn btn-light" (click)="goBack()">Voltar</button>
  <button type="submit" class="btn btn-success" (click)="updateTask()">Atualizar</button>

  <hr>

  <pre>
    {{ task | json }}
  </pre>
</form>
