<h1 class="page-header pt-5">Detalhes da Tarefa: {{ task.title }}</h1>

<form [formGroup]="reactiveTaskForm" class="mt-4" novalidate>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="title" class="col-form-label">Título</label>
      <input type="text" formControlName="title" id="title" class="form-control" [class.is-invalid]="reactiveTaskForm.get('title').invalid && reactiveTaskForm.get('title').touched" [class.is-valid]="reactiveTaskForm.get('title').valid">
      <div class="invalid-feedback">
        <div *ngIf="reactiveTaskForm.get('title').errors?.required">Título é obrigatório</div>
        <div *ngIf="reactiveTaskForm.get('title').errors?.minlength">O título deve ter no mínimo 2 caracteres</div>
        <div *ngIf="reactiveTaskForm.get('title').errors?.maxlength">O título deve ter no máximo 255 caracteres</div>
      </div>
    </div>

    <div class="form-group col-md-3">
      <label for="deadline" class="col-form-label">Prazo de entrega</label>
      <input type="text" formControlName="deadline" id="deadline" class="form-control" [class.is-invalid]="reactiveTaskForm.get('deadline').invalid && reactiveTaskForm.get('deadline').touched" [class.is-valid]="reactiveTaskForm.get('deadline').valid">
      <div class="invalid-feedback">Prazo de entrega é obrigatório</div>
    </div>

    <div class="form-group col-md-3">
      <label for="done" class="col-form-label">Situação</label>
      <select class="form-control" formControlName="done" id="done" [class.is-invalid]="reactiveTaskForm.get('done').invalid && reactiveTaskForm.get('done').touched" [class.is-valid]="reactiveTaskForm.get('done').valid">
        <option *ngFor="let option of taskDoneOptions" [value]="option.value">{{option.text}}</option>
      </select>
      <div class="invalid-feedback">Situação não pode ficar em branco</div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <label for="description" class="col-form-label">Descrição</label>
      <textarea formControlName="description" id="description" rows="4" class="form-control"></textarea>
    </div>
  </div>

<!--   <div class="row" formGroupName="user">
    <div class="form-group col-md-6">
      <label for="name" class="col-form-label">Nome</label>
      <input type="text" formControlName="name" id="name" class="form-control">
    </div>

    <div class="form-group col-md-6">
      <label for="email" class="col-form-label">Email</label>
      <input type="text" formControlName="email" id="email" class="form-control">
    </div>
  </div> -->

  <pre>
    {{ reactiveTaskForm.value | json }}
  </pre>

  <pre>
      {{ reactiveTaskForm.get('title').errors | json}}
  </pre>
</form>


<!-- <form #taskForm="ngForm" (ngSubmit)="updateTask()" class="mt-4" novalidate>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="title" class="col-form-label">Título</label>
      <input #title="ngModel" [(ngModel)]="task.title" class="form-control" type="text" name="title" id="title" required [class.is-invalid]="title.invalid && title.touched" [class.is-valid]="title.valid" minlength="2" maxlength="255">
      <div class="invalid-feedback">
        <div *ngIf="title.errors?.required">Título é obrigatório</div>
        <div *ngIf="title.errors?.minlength">O título deve ter no mínimo 2 caracteres</div>
        <div *ngIf="title.errors?.maxlength">O título deve ter no máximo 255 caracteres</div>
      </div>
    </div>

    <div class="form-group col-md-3">
      <label for="deadline" class="col-form-label">Prazo de entrega</label>
      <input #deadline="ngModel" [(ngModel)]="task.deadline" class="form-control" type="text" name="deadline" id="deadline" required [class.is-invalid]="deadline.invalid && deadline.touched" [class.is-valid]="deadline.valid">
      <div class="invalid-feedback">Prazo de entrega é obrigatório</div>
    </div>

    <div class="form-group col-md-3">
      <label for="done" class="col-form-label">Situação</label>
      <select #done="ngModel" [(ngModel)]="task.done" class="form-control" name="done" id="done" required [class.is-invalid]="done.invalid && done.touched" [class.is-valid]="done.valid">
        <option *ngFor="let option of taskDoneOptions" [value]="option.value">{{option.text}}</option>
      </select>
      <div class="invalid-feedback">Situação não pode ficar em branco</div>
    </div>  
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <label for="description" class="col-form-label">Descrição detalhada</label>
      <textarea [(ngModel)]="task.description" name="description" id="description" rows="4" class="form-control"></textarea>
    </div>
  </div>

  <button [disabled]="taskForm.invalid" type="submit" class="btn btn-success">Atualizar</button>
  <button class="btn btn-light" (click)="goBack()">Voltar</button>
</form> -->
